body {
    display: flex;
    justify-content: center;
    
}

h1 {
    justify-content: center;
}

.sec2 {
    display: flex;
    font-family: lato;
    justify-content: center;
    align-items: center;
    background-color: Silver;
    width: 60vw;
    height: 20vw;
    border: 2px solid;
    border-color: black;
}

.img1 {
    background-image: url('imagem1.jpeg');
    border-radius: 50%;
    height: 250px;
    width: 250px;
    position: absolute; top:105px; left:180px; 
}

.img2 {
    background-image: url('imagem2.jpeg');
    border-radius: 50%;
    height: 250px;
    width: 250px;
    position: absolute; top:420px; right:180px; 
}